.blog{
    display: grid;
  }

  .blogpost{
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-right: 40px;
    margin-top: 20px;
  
    border-radius: 25px;
    padding-bottom: 5px;
    margin-bottom: 10px;
    padding-left: 15px;
    padding-bottom: 20px;
    margin-left: 20px;
    background-color: #dafcd555;
    border: 7px solid #DAFCD5;
   
  }