.table_chart{
    display: grid;
    margin-right: 20px;
    padding-bottom: 20px;
    text-align: center;
    }

.rows{
    background-color: #a8d8c073;
    }

.table_text{
    text-align: center;
    }

.progress_bar{
    display: flex;
    flex-direction: row;
    gap: 10px;
    }

progress{
    margin-top: 7px;
    width: 100%;
    -webkit-appearance: none;
    }

::-webkit-progress-value {
    background-color: #A8D8C0;
    }

.line {
    background-color: #FFB1B4;
    position: absolute;
    width: 5px;
    height: 30px;
    left: 1180px;
    }

.dashboard_tab {
    display: inline-block;
    margin-left: 540px;
    }