.profile_page{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

.games{
  font-weight: normal;
  background-color: #dafcd555;
  border: 7px solid #DAFCD5;
  border-radius: 20px;
  padding: 20px;
  padding-left: 40px;
    
}

.about_me{
    display: flex;
    flex-direction: row;
    margin-top: 20px;
  }

.profile_img{
    border-radius: 20px;
    margin-right: 20px;
    border: 5px solid #DAFCD5;
  }

.about_text{
    font-weight: normal;
}

.movies{
    font-weight: normal;
    background-color: #dafcd555;
    border: 7px solid #DAFCD5;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
}

.profile_t{
    font-size: 33px;
    margin-bottom: 10px;
    text-decoration: underline;
  }

.profile_p{
    font-size: 28px;
    font-weight: normal;
    margin-right: 20px;
    margin-bottom: 10px;
  }

.book_game_movie{
    display: flex;
    flex-direction: row;
    gap: 100px;
    align-items: center;
    font-size: 28px;
  }

.books{
    font-weight: normal;
    background-color: #dafcd555;
    border: 7px solid #DAFCD5;
    border-radius: 20px;
    padding: 20px;
    padding-left: 40px;
}

.p_list{
    font-size: 30px;
  }

.games_li{
    font-weight: normal;
}