header{
    font-size: 50px;
    background-color: #7DB3AA;
    text-align: center;
}
aside{
    background-color: #DAFCD5;
    width: 300px;
    margin-right: 20px;
    align-items: center;
}
nav{
    background-color: #A8D8C0;
    position: sticky;
    top: 0;
}
body{
    background-color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    background-color: #A8D8C0;
}
main{
    background-color: white;
    width: 80%;
    display: flex;
    margin: 0 auto;
    flex: 1 1 0%
 }
.menulink {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: #A8D8C0;
    top: 0;
  width: 100%;  
  }
  
  li {
    float: left;
    border-right: 1px solid #92c4ab;
  }
  
  li a {
    display: block;
    color: black;
    font-size: 25px;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  
  li a:hover {
    background-color: whitesmoke;
  }

  .active {
    background-color: #A8D8C0;
  }

  li:last-child {
    border-right: none;
  }

  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  p{
    font-size: 25px;
    text-align: left;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

  article{
    padding-top: 20px;
    padding-left: 20px;
    
  }

html{
    height: 100%;
}
  section{
    display: flex;
    flex: 1;

  }

html,body {
    height: 100%;
}

footer
{
 height: 50px;
 text-align: center;
 font-size: 30px;
 color:#A8D8C0;
}

.link{
    display: block;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  width: 300px;
}

.linkmenu{
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 300px;
        background-color: #DAFCD5;
      
}

.link:hover {
    background-color: #A8D8C0;
    color: black;
  }

  .aboutme{
    font-size: 20px;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }

  .aboutmetag{
    float: left;
    border-right: 0;
  }
.blogpost{
  text-align: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 0;
  border: solid 5px #7DB3AA;
  padding-bottom: 5px;
  margin-bottom: 340px;
  padding-left: 15px;
 
}
h3{ font-weight:normal; }

details {
  display: block;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
 height: 100px;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.div{
  text-align:center ;
}

.divimage{
  margin-top: 40px;
  margin-bottom: 40px;
  text-align:center
}
